# Ignore everything
*

# But allow directories (so Git can recurse into them)
!*/

# Allow C source and header files
!*.c
!*.swift
!*.h

# Allow Markdown files
!*.md

# Allow `man` pages
!*.1

# Allow shell scripts
!*.sh

# Allow Makefile
!Makefile

# Allow .gitignore file itself
!.gitignore
